body {
    background: #286286;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background-size: 100%;
}

.box {
    overflow: auto;
    position: absolute;
    text-align: center;
    background: linear-gradient(to top, #d64b4b, #ab2c2c);
    box-shadow: 0 12px 9px rgba(0, 0, 0, .8),
    0 0 20px -23px rgba(0, 0, 0, .8),
    0 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    padding: 0 30px 0 30px;
}

.box-stitches-top {
    margin-top: 2px;
    margin-right: -30px;
    margin-left: -30px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.box-stitches-bottom {
    margin-bottom: 2px;
    margin-right: -30px;
    margin-left: -30px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}

.box h2 {
    font-size: 35px !important;
    color: #801111;
    text-shadow: #d65c5c 0 1px 0;
    margin: 0;
    padding: 15px 10px;
}

.box h4 {
    font-size: 25px !important;
    color: #801111;
    text-shadow: #d65c5c 0 1px 0;
    margin: 0;
    padding: 5px 10px;
}

table {
    font-size: 25px;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    border-radius: 10px;
    color: #000000;
    text-shadow: #d65c5c 0 1px 0;
    background-size: 100%;
    background: #D3D15E;
    border-collapse: separate;
}
tr {
    opacity: 0.7;
}
tr:hover{
    opacity: 1;
}

.ribbon {
    margin-left: 670px;
    width: 280px;
    position: absolute;
    text-align: center;
    font-size: 20px!important;
    background: #d64b4b;
    background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
    background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
    background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
}
.ribbon h1 {
    font-size: 35px!important;
    color: #801111;
    text-shadow: #d65c5c 0 1px 0;
    margin:0;
    padding: 4px 5px;
}
.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #c23a3a;
    z-index: -1;
}
.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    border-color: #871616 transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}
.ribbon-stitches-top {
    margin-top:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
    margin-bottom:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}

b{
    transition: 0.2s linear;
}
b:hover {
    font-size: 18px;
    text-decoration: underline;
}