<div style="height: 50px; width: 100%; background-color: #383838; position: absolute; text-align: center; border-radius: 5px;
 left: 0; bottom: 0;">
    <div style="margin: 0 auto; padding-top: 15px;">
        <span style="color: #FFFFFF; font-family: 'Comic Sans MS',cursive,sans-serif;">&copy; 2017</span>
    </div>
</div>